.dashboard-titulo > h1{
    font-weight: bold;
}

.dashboard{
    width: 100%;
    position: relative;
}

.dashboard-cover{
    position: relative;


}

.dashboard-cover > img {
    position: absolute;
    top: -80px;
    right: -85px;
}

.container-cards{
    width: 35%;
}

@media (min-width: 1025px) {
    .container-cards{
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
  }